/*  your css code here. If applicable */
.card {
  border: 1px solid #ccc;
  width:300px;
height:500px;
  box-shadow: 2px 2px 50px 0 rgba(0,0,0,0.5);
  padding: 20px;
  margin: 20px;
 background-color: #FFFAFA;	
}

.card img {
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

.card-content {
  text-align: center;
}

.card-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-content section,span {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom:20px;
}
